body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 25px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
      box-sizing: border-box;      /* prevents overflow */

}

.full-width {
    grid-column: 1 / -1;
    /* spans ALL columns, not just 2 */
}

button {
    grid-column: span 2;
    padding: 12px;
    background: #175f92;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0f6aab;
}

input.error, select.error, textarea.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
a {
    color: #313538;
    text-decoration: none;
}